<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ItemRentadoMapper">

	<insert parameterType="map" id="insertarItemRentado">
	insert into VI_ITEMRENTADO (id,CLIENTES_documento,ITEMS_id,fechainiciorenta,fechafinrenta) values (#{id},#{cliente},#{item},#{fechainiciorenta},#{fechafinrenta})
	</insert>
	
	
	
    <resultMap type='ItemRentado' id='ItemRentadoResult'>
		<id property='id' column='id'/>
		<result property='fechainiciorenta' column='fechainiciorenta'/>
		<result property='fechafinrenta' column='fechafinrenta'/>
		<association property="item" javaType="Item" resultMap='ItemResult' columnPrefix="IR_I_"></association> 
	</resultMap> 
                
</mapper>